@import "../../css-config/mixins.scss";

.Getting_Started_Main_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4vh 6vw;
    background-color: white;
    @include md{
        padding: 4vh 4vw;
    }
    h1{
        font-size: 33px;
        align-self: center;
        @include md{
            font-size: 22px;
        }
        @include lg {
            font-size: 30px;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 30%;
            .icon{
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                padding: 3rem;
                background-color: rgb(255,219,88);
                @include md{
                    width: 9rem;
                    height: 9rem;
                }
                @include sm{
                    width: 7rem;
                    height: 7rem;
                    padding: 2rem;
                }
                @include lg {
                    width: 12rem;
                    padding: 2.5rem;
                    height: 12rem;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }
            }
            h2{
                font-size: 22px;
                @include md{
                    font-size: 17px;
                }
                @include lg {
                    font-size: 20px;
                }
            }
            p{
                font-size: 15px;
                padding: 0 4vw;
                text-align: center;
                @include md{
                    font-size: 12px;
                }
                @include lg {
                    font-size: 14px;
                }
            }

        }
    }
    button{
        width: 15rem;
        height: 2.5rem;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255,219,88);
        align-self: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        @include md{
            width: 11rem;
            height: 2.3rem;
            font-size: 13px;
        }
        
    }
}