.Banner_Main_Container {
    width: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    // padding: 0 6vw;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vh 6vw;

        .left {
            h1 {
                font-size: 17px;
                cursor: pointer;
            }
        }

        .right {
            ul {
                display: flex;
                gap: 4vw;

                li {
                    list-style: none;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5vh 0 4vh 6vw;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 40px;
                    margin-bottom: 1.5rem;
                    display: flex;
                    gap: 7px;

                    p {
                        color: rgb(255, 219, 88);
                        font-size: 40px;

                    }
                }

                p {
                    font-size: 15px;
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 25px;
                    color: rgb(255, 219, 88);
                    margin-bottom: 3rem;
                }

                button {
                    width: 15rem;
                    height: 3rem;
                    // background-color: rgb(217, 217, 217);
                    background-color: white;
                    font-size: 14px;
                    font-weight: 600;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                button:hover {
                    cursor: pointer;
                    background-color: rgb(217, 217, 217);
                }
            }

            .bottom {
                p {
                    font-size: 15px;
                }
            }

        }

        .right {
            img {
                width: 33vw;
                height: auto;
                object-fit: contain;
            }
        }
    }
}