@import "../../css-config/mixins.scss";

.Banner_Main_Container {
    width: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    // padding: 0 6vw;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vh 6vw;

        .left {
            h1 {
                font-size: 17px;
                cursor: pointer;

                @include md {
                    font-size: 14px;
                }
            }
        }

        .right {
            ul {
                display: flex;
                gap: 4vw;

                li {
                    list-style: none;
                    font-size: 12px;
                    cursor: pointer;

                    @include md {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5vh 0 4vh 6vw;

        .Bannerleft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .Bannertop {
                display: flex;
                flex-direction: column;

                .BannerHeading {
                    font-size: 40px;
                    margin-bottom: 1.5rem;
                    display: flex;
                    gap: 7px;

                    @include lg {
                        font-size: 33px;
                    }
                    @include md {
                        font-size: 27px;
                    }

                    @include sm{
                        font-size: 22px;
                    }

                    p {
                        color: rgb(255, 219, 88);
                        font-size: 40px;

                        @include md {
                            font-size: 22px;
                        }

                        @include lg {
                            font-size: 33px;
                        }
                        @include sm{
                            font-size: 22px;
                        }

                    }
                }

                p {
                    font-size: 15px;
                    margin-bottom: 1rem;

                    @include md {
                        font-size: 10px;
                    }
                    @include sm{
                        font-size: 8px;
                    }


                    @include lg {
                        font-size: 12px;
                    }
                }

                h2 {
                    font-size: 25px;
                    color: rgb(255, 219, 88);
                    margin-bottom: 3rem;

                    @include md {
                        font-size: 17px;
                    }

                    @include lg {
                        font-size: 21px;
                    }
                    @include sm{
                        font-size: 15px;
                    }
                }

                button {
                    width: 15rem;
                    height: 3rem;
                    // background-color: rgb(217, 217, 217);
                    background-color: white;
                    font-size: 14px;
                    font-weight: 600;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include md {
                        width: 9rem;
                        height: 2.2rem;
                        font-size: 10px;
                    }
                    @include sm{
                        width: 7rem;
                        height: 1rem;
                        font-size: 9px;
                    }

                    @include lg {
                        width: 12rem;
                        height: 2.5rem;
                        font-size: 13px;
                    }
                }

                button:hover {
                    cursor: pointer;
                    background-color: rgb(217, 217, 217);
                }
            }

            .bottom {
                .bottomPara {
                    font-size: 15px;
                    margin-top: 1rem;

                    @include md {
                        font-size: 9px;
                    }
                    @include sm{
                        font-size: 7px;
                    }

                    @include lg {
                        font-size: 12px;
                    }
                }
            }

        }

        .right {
            img {
                width: 33vw;
                height: auto;
                object-fit: contain;
            }
        }
    }
}